In [3]:
rows = 10
seats = 10

In [55]:
class Movie:
    def __init__(self,rows,seats):
        self.tot_seats = rows*seats
        self.all_seats = [[str(i)+'_'+str(j) for j in range(seats)] for i in range(rows)]
        self.Booked_ticket_person = [[None for j in range(seats)] for i in range(rows)]
        self.ticket_price = 50
        self.Total_income = 0
        self.Booked_seat = 0
        
    def print_total_seats(self):
        print(f'Total seats in the hall is {self.tot_seats}')
        
    def book_ticket(self,row,col,name,Phone_number,gender,age):
        if self.all_seats[row][col] == str(row)+'_'+str(col):
            self.person_details ={
                'name' : name,
                'phone' : Phone_number,
                'gender' : gender,
                'age' : age
            }
            
            self.Booked_ticket_person[row][col] = self.person_details
            self.all_seats[row][col] ='B'
            self.Booked_seat+=1
            self.Total_income+=(self.ticket_price*(row+1))
            print('Your Seat is Booked !!')
            
        else:
            print('The seat is not available !')
            
    def states(self):
        print('Number of purchased ticket -',self.Booked_seat)
        print('Current Income -',self.Total_income)
        
    def show_seats(self):
        for row in self.all_seats:
            for each_seat in row:
                print(each_seat,end = ' ')
            print('\n ------------------- \n')
            
    def check_availability(self,row,col):
        if self.all_seats[row][col] != 'B':
            print('seat is not booked!!')
        else:
            print('Seat is Booked By')
            person = self.Booked_ticket_person[row][col]
            print(person['name'])
            print(person['phone'])
            print(person['gender'])
            print(person['age'])

In [56]:
Edyoda_theatre = Movie(rows,seats)

In [57]:
Edyoda_theatre.show_seats()

0_0 0_1 0_2 0_3 0_4 0_5 0_6 0_7 0_8 0_9
 -------------------

1_0 1_1 1_2 1_3 1_4 1_5 1_6 1_7 1_8 1_9
 -------------------

2_0 2_1 2_2 2_3 2_4 2_5 2_6 2_7 2_8 2_9
 -------------------

3_0 3_1 3_2 3_3 3_4 3_5 3_6 3_7 3_8 3_9
 -------------------

4_0 4_1 4_2 4_3 4_4 4_5 4_6 4_7 4_8 4_9
 -------------------

5_0 5_1 5_2 5_3 5_4 5_5 5_6 5_7 5_8 5_9
 -------------------

6_0 6_1 6_2 6_3 6_4 6_5 6_6 6_7 6_8 6_9
 -------------------

7_0 7_1 7_2 7_3 7_4 7_5 7_6 7_7 7_8 7_9
 -------------------

8_0 8_1 8_2 8_3 8_4 8_5 8_6 8_7 8_8 8_9
 -------------------

9_0 9_1 9_2 9_3 9_4 9_5 9_6 9_7 9_8 9_9
 -------------------

In [58]:
Edyoda_theatre.book_ticket(0,0,'Pritom','9823293293','M','28')
Edyoda_theatre.book_ticket(0,0,'Vaibhav', '9876543210', 'M', '28')
Edyoda_theatre.book_ticket(0,5,'Vamshi', '9876546578', 'M', '23')
Edyoda_theatre.book_ticket(2,3,'prasad','8978009011','M','25')
Edyoda_theatre.book_ticket(8,2,'Vamshi Krishna', '9703481194', 'M','25')

Your Seat is Booked !!
The seat is not available !
Your Seat is Booked !!
Your Seat is Booked !!
Your Seat is Booked !!

In [59]:
Edyoda_theatre.states()

Number of purchased ticket - 4
Current Income - 700

In [50]:
Edyoda_theatre.show_seats()

B 0_1 0_2 0_3 0_4 B 0_6 0_7 0_8 0_9
 -------------------

1_0 1_1 1_2 1_3 1_4 1_5 1_6 1_7 1_8 1_9
 -------------------

2_0 2_1 2_2 B 2_4 2_5 2_6 2_7 2_8 2_9
 -------------------

3_0 3_1 3_2 3_3 3_4 3_5 3_6 3_7 3_8 3_9
 -------------------

4_0 4_1 4_2 4_3 4_4 4_5 4_6 4_7 4_8 4_9
 -------------------

5_0 5_1 5_2 5_3 5_4 5_5 5_6 5_7 5_8 5_9
 -------------------

6_0 6_1 6_2 6_3 6_4 6_5 6_6 6_7 6_8 6_9
 -------------------

7_0 7_1 7_2 7_3 7_4 7_5 7_6 7_7 7_8 7_9
 -------------------

8_0 8_1 B 8_3 8_4 8_5 8_6 8_7 8_8 8_9
 -------------------

9_0 9_1 9_2 9_3 9_4 9_5 9_6 9_7 9_8 9_9
 -------------------

In [54]:
Edyoda_theatre.check_availability(3,9)

seat is not booked!!